ion-content {
  --ion-background-color: #ecebe6;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}

.text {
  display: inline-block;
  vertical-align: middle;
}
ion-item {
  padding: 5px !important;
}
ion-item div.item-inner {
  -webkit-padding-end: 0px !important;
  padding-inline-end: 0px !important;
}
.comment-button {
  height: 40px !important;
  width: 100% !important;
  margin-left: 10px !important;
}

.center-image {
  display: flex !important;
  justify-content: center !important;
}
