<ion-content>
  <div class="max-available-height full-width grandient-background no-scroll">
    <div class="webkit-center" [hidden]="display!='login'">
      <ion-row class="width-80-percent">
        <ion-col>
          <img src="assets/login.svg">
        </ion-col>
      </ion-row>

      <ion-row class="width-80-percent">
        <div class="text-left">
          <p class="font-20 margin-bottom-10 gotham-medium">{{transService.getTranslatedData('login.welcome-string1')}}
          </p>
          <p class="font-14 txt-warm-grey margin-top-0 gotham">
            {{transService.getTranslatedData('login.welcome-string2')}}</p>
        </div>
      </ion-row>
      <ion-row class="width-80-percent">
        <div class="text-left">
          <p class="font-14 gotham">{{transService.getTranslatedData('login.welcome-string3')}}</p>
        </div>
      </ion-row>
      <ion-row class="width-80-percent text-left">
        <ion-col size="3">
          <ion-item (click)="countryCodeModal()">
            <ion-input inputmode="text" class="gotham" [(ngModel)]="loginData.countryCode">
            </ion-input>
            <ion-icon mode="md" class="txt-warm-grey" name="arrow-dropdown"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="9">
          <ion-item>
            <ion-input inputmode="tel" class="gotham"
              placeholder="{{transService.getTranslatedData('login.phone-number-input')}}"
              [(ngModel)]="loginData.phoneNumber">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="width-80-percent center-text margin-top-10">
        <ion-button class="full-button" (click)="checkPlatform()" expand="full" color="primary">
          {{transService.getTranslatedData('login.login-button')}}</ion-button>
      </ion-row>
      <ion-row style="justify-content: center !important" class="width-80-percent margin-top-10">
        <p (click)="display='forgot'">{{transService.getTranslatedData('login.forgot-password')}}</p>
      </ion-row>
    </div>

    <div class="webkit-center" [hidden]="display!='password'">
      <ion-row class="width-80-percent">
        <ion-col>
          <img src="assets/logo/thm-logo.png">
        </ion-col>
      </ion-row>

      <ion-row class="width-80-percent">
        <div class="text-left">
          <p class="font-20 margin-bottom-10 gotham-medium">{{transService.getTranslatedData('login.welcome-string1')}}
          </p>
          <p class="font-14 txt-warm-grey margin-top-0 gotham">
            {{transService.getTranslatedData('login.welcome-string2')}}</p>
        </div>
      </ion-row>
      <ion-row class="width-80-percent text-left">
        <ion-col>
          <ion-item>
            <ion-label position="stacked" class="font-20 margin-bottom-10 gotham">
              {{transService.getTranslatedData('login.enter-password')}}</ion-label>
            <ion-input type="password" [(ngModel)]="loginData.password"
              placeholder="{{transService.getTranslatedData('login.password-placeholder')}}">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="width-80-percent center-text margin-top-10">
        <ion-button class="full-button gotham" (click)="loginUser('login')" expand="full" color="primary">
          {{transService.getTranslatedData('login.login-button')}}
        </ion-button>
      </ion-row>
      <ion-row style="justify-content: center !important" class="width-80-percent gotham margin-top-10">
        <p (click)="display='forgot'">{{transService.getTranslatedData('login.forgot-password')}}</p>
      </ion-row>
    </div>

    <div class="webkit-center" [hidden]="display!='forgot'">
      <ion-row class="width-80-percent">
        <ion-col>
          <img src="assets/logo/thm-logo.png">
        </ion-col>
      </ion-row>

      <ion-row class="width-80-percent">
        <div class="text-left">
          <p class="font-20 margin-bottom-10 gotham-medium">{{transService.getTranslatedData('login.welcome-string1')}}
          </p>
          <p class="font-14 txt-warm-grey margin-top-0 gotham">
            {{transService.getTranslatedData('login.welcome-string2')}}</p>
        </div>
      </ion-row>
      <ion-row class="width-80-percent">
        <div class="text-left">
          <p class="font-14 gotham">{{transService.getTranslatedData('login.welcome-string3')}}</p>
        </div>
      </ion-row>
      <ion-row class="width-80-percent text-left">
        <ion-col size="3">
          <ion-item (click)="countryCodeModal()">
            <ion-input inputmode="text"
              placeholder="{{transService.getTranslatedData('login.country-code-placeholder')}}" class="gotham"
              [(ngModel)]="sendotp.countryCode">
            </ion-input>
            <ion-icon mode="md" class="txt-warm-grey" name="arrow-dropdown"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="9">
          <ion-item>
            <ion-input inputmode="tel" [(ngModel)]="sendotp.phoneNumber"
              placeholder="{{transService.getTranslatedData('login.phone-number-input')}}">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="width-80-percent center-text margin-top-10">
        <ion-button class="full-button gotham" expand="full" (click)="sendOtpService('forgot')" color="primary">
          {{transService.getTranslatedData('login.send-otp-button')}}</ion-button>
        <!--sendOtp(sendotp.phoneNumber, 'forgot')-->
      </ion-row>
      <ion-row style="justify-content: center !important" class="width-80-percent margin-top-10 gotham">
        <p (click)="display='login'">{{transService.getTranslatedData('login.login-button')}}</p>
      </ion-row>
    </div>

    <div class="webkit-center" [hidden]="display!='otp'">
      <ion-row class="width-80-percent">
        <ion-col>
          <img src="assets/logo/thm-logo.png">
        </ion-col>
      </ion-row>

      <ion-row class="width-80-percent">
        <div class="text-left">
          <p class="font-20 margin-bottom-10 gotham-medium">{{transService.getTranslatedData('login.welcome-string1')}}
          </p>
          <p class="font-14 txt-warm-grey margin-top-0 gotham">
            {{transService.getTranslatedData('login.welcome-string2')}}</p>
        </div>
      </ion-row>
      <ion-row class="width-80-percent text-left">
        <ion-col>
          <ion-item>
            <ion-label position="stacked" class="font-20 margin-bottom-10 gotham">
              {{transService.getTranslatedData('login.otp-input')}}</ion-label>
            <ion-input imputmode="tel" [(ngModel)]="otpData.accessCode"
              placeholder="{{transService.getTranslatedData('login.otp-placeholder')}}">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="width-80-percent center-text margin-top-10">
        <ion-button class="full-button gotham" expand="full" color="primary" (click)="varifyOtp('login')">
          {{transService.getTranslatedData('login.confirm-button')}}
        </ion-button>
      </ion-row>
      <ion-row style="justify-content: center !important" class="width-80-percent gotham margin-top-10">
        <p (click)="display='forgot'">{{transService.getTranslatedData('login.forgot-password')}}</p>
      </ion-row>
    </div>

    <div class="webkit-center" [hidden]="display!='setPassword'">
      <ion-row class="width-80-percent">
        <ion-col>
          <img src="assets/logo/thm-logo.png">
        </ion-col>
      </ion-row>

      <ion-row class="width-80-percent">
        <div class="text-left">
          <p class="font-20 margin-bottom-10 gotham-medium">{{transService.getTranslatedData('login.welcome-string1')}}
          </p>
          <p class="font-14 txt-warm-grey margin-top-0 gotham">
            {{transService.getTranslatedData('login.welcome-string2')}}</p>
        </div>
      </ion-row>
      <ion-row class="width-80-percent text-left">
        <ion-col>
          <ion-item>
            <ion-label position="stacked" class="font-20 gotham margin-bottom-10">
              {{transService.getTranslatedData('login.reset-password1')}}</ion-label>
            <ion-input type="password" [(ngModel)]="passwordData.password"
              placeholder="{{transService.getTranslatedData('login.password-placeholder')}}">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="width-80-percent text-left">
        <ion-col>
          <ion-item>
            <ion-label position="stacked" class="font-20 gotham margin-bottom-10">
              {{transService.getTranslatedData('login.reset-password2')}}</ion-label>
            <ion-input type="password" [(ngModel)]="passwordData.passwordCheck"
              placeholder="{{transService.getTranslatedData('login.password-placeholder')}}">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="width-80-percent center-text margin-top-10">
        <ion-button class="full-button gotham" expand="full" (click)="passwordSet(otpSource)" color="primary">
          {{transService.getTranslatedData('login.confirm-button')}}
        </ion-button>
      </ion-row>
    </div>

    <div class="webkit-center" [hidden]="display!='forgototp'">
      <ion-row class="width-80-percent">
        <ion-col>
          <img src="assets/logo/thm-logo.png">
        </ion-col>
      </ion-row>

      <ion-row class="width-80-percent">
        <div class="text-left">
          <p class="font-20 margin-bottom-10 gotham-medium">{{transService.getTranslatedData('login.welcome-string1')}}
          </p>
          <p class="font-14 txt-warm-grey margin-top-0 gotham">
            {{transService.getTranslatedData('login.welcome-string2')}}</p>
        </div>
      </ion-row>
      <ion-row class="width-80-percent text-left">
        <ion-col>
          <ion-item>
            <ion-label position="stacked" class="font-20 gotham margin-bottom-10">
              {{transService.getTranslatedData('login.otp-input')}}</ion-label>
            <ion-input imputmode="tel" class="gotham" [(ngModel)]="otpData.accessCode"
              placeholder="{{transService.getTranslatedData('login.otp-placeholder')}}">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="width-80-percent center-text margin-top-10">
        <ion-button class="full-button gotham" expand="full" color="primary" (click)="varifyOtp('forgot')">
          {{transService.getTranslatedData('login.confirm-button')}}
        </ion-button>
      </ion-row>
      <ion-row style="justify-content: center !important" class="width-80-percent margin-top-10 gotham">
        <p (click)="display='forgot'">{{transService.getTranslatedData('login.forgot-password')}}</p>
      </ion-row>
    </div>

    <div class="webkit-center" [hidden]="display!='approvalotp'">
      <ion-row class="width-80-percent">
        <ion-col>
          <img src="assets/logo/thm-logo.png">
        </ion-col>
      </ion-row>

      <ion-row class="width-80-percent">
        <div class="text-left">
          <p class="font-20 margin-bottom-10 gotham-medium">{{transService.getTranslatedData('login.welcome-string1')}}
          </p>
          <p class="font-14 txt-warm-grey margin-top-0 gotham">
            {{transService.getTranslatedData('login.welcome-string2')}}</p>
        </div>
      </ion-row>
      <ion-row class="width-80-percent text-left">
        <ion-col>
          <ion-item>
            <ion-label position="stacked" class="font-20 margin-bottom-10 gotham">
              {{transService.getTranslatedData('login.otp-input')}}</ion-label>
            <ion-input imputmode="tel" [(ngModel)]="otpData.accessCode"
              placeholder="{{transService.getTranslatedData('login.otp-placeholder')}}">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="width-80-percent center-text margin-top-10">
        <ion-button class="full-button gotham" expand="full" color="primary" (click)="varifyOtp('approve')">
          {{transService.getTranslatedData('login.confirm-button')}}
        </ion-button>
      </ion-row>
      <ion-row style="justify-content: center !important" class="width-80-percent margin-top-10 gotham">
        <p (click)="display='forgot'">{{transService.getTranslatedData('login.forgot-password')}}</p>
      </ion-row>
    </div>

  </div>
</ion-content>