<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-menu-toggle>
            <ion-title class="center-text">
              {{translate.instant('app-component.title')}}
              <!-- <p class="font-14 margin-bottom-3 font-weight-600">{{appPages.name}}</p>
              <p class="margin-top-0 font-14 font-weight-600">{{appPages.phoneNumber}}</p> -->
            </ion-title>
          </ion-menu-toggle>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages.pages">
            <ion-item lines="full" [routerLink]="[p.url]">
              <img class="icon-25 margin-bottom-10" *ngIf="p.src" [src]="p.src">
              <ion-label [ngClass]="{marginTop5: p.src?true:false}">
                {{translate.instant(p.title)}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="full" (click)="logout()">
              <img class="icon-25 margin-bottom-10" [src]="appPages.logout.src">
              <ion-label class="marginTop5">
                {{translate.instant(appPages.logout.title)}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>