<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openTicketFilterModal()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <span class="font-14 gotham" *ngIf="tickets?.length == 0" style="margin-top:5px; padding-left:15px">No tasks
    found</span> -->
  <ion-list class="border-top">
    <ion-item *ngFor="let ticket of tickets" [routerLink]="['/ticket-details']" [queryParams]="{ticketId: ticket._id}"
      detail="true" lines="none">
      <ion-label class="margin-0">
        <p class="gotham-bold txt-grey" text-wrap>#{{ticket.uid}} - {{ticket.ticketCategory}} -
          {{ticket.createdAt | date:'dd MMM yyyy'}}</p>
        <p class="gotham font-weight-600 txt-grey">Status -
          {{ticket.status == 'in-progress' ? 'In Progress' : ticket.status}}</p>
        <!-- <p class="gotham font-weight-600 txt-grey">{{d.address}}</p> -->
        <p class="gotham font-weight-600 txt-grey">For -
          {{ticket.ticketBelongsTo == 'Home' ? 'Unit' : ticket.ticketBelongsTo}}</p>
        <p class="gotham font-weight-600 txt-grey">Job date - {{ticket.jobDate | date:'dd MMM yyyy'}}
          {{ticket.jobStartTime | date:'hh:mm a'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll [hidden]="disableInfiniteScroll" threshold="5px" (ionInfinite)="searchTicket($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>