.welcome-card ion-img {
  max-height: 35vh;
  overflow  : hidden;
}

ion-toolbar{
  background-color: #FEB900  !important;
}

.background-yellow{
  background-color: #FEB900 !important;
}

.home-top-container{
  height: 100px; 
  padding-left:15px !important
}

.font-22{
  font-size: 22px !important;
}

.border-top{
  border-top: 1px solid lightgray;
}

ion-item{
  // border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.margin-bottom-20{
  margin-bottom: 20px !important;
}
.margin-bottom-10{
  margin-top: 20px !important;
}

ion-menu-button{
  color: black !important;
}

ion-card-content{
  background-color: white !important;
}

ion-toolbar {
  --background    : transparent;
  --ion-color-base: transparent !important;
}

p {
  margin : 0px !important;
  padding: 0px !important;
}

.border-right {
  border-right: 1px solid lightgray !important;
}

.border-1 {
  border: 1px solid lightgray !important;
}

.border-top-bottom-1 {
  border-top: 1px solid lightgray !important;
  border-bottom:  1px solid lightgray !important;
}