<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="mail"></ion-icon>
        Support
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<!-- <img class="gotham full-width margin-top-56" src="/assets/cream.PNG"> -->
<ion-content>
  <div class="background-yellow home-top-container">
    <span class="font-22 gotham">Hi {{userDetails?.firstName}} {{userDetails?.lastName}}</span>
    <br>
    <span class="font-14 gotham" style="margin-top:5px">Ticket stats</span>
    <!-- <img class="full-width " src="/assets/cream.PNG"> -->
  </div>
  <ion-card style="margin-top: -45px">
    <ion-card-content class="padding-6">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="gotham font-weight-600 txt-grey">Open</p>
            <p class="font-18 gotham">{{ticketStats?.ticket['open']}}</p>
          </ion-col>
          <ion-col>
            <p class="gotham font-weight-600 txt-grey">In Progress</p>
            <p class="font-18 gotham">{{ticketStats?.ticket['in-progress']}}</p>
          </ion-col>
          <ion-col>
            <p class="gotham font-weight-600 txt-grey">Resolved</p>
            <p class="font-18 gotham">20</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row class="border-top">
      <ion-col class="center-text border-right" (click)="navigate('/create-ticket')">
        <img class="tile-option margin-bottom-10 " src="/assets/icon/raise-ticket.png">
        <p class="font-14 gotham margin-bottom-20">Raise ticket</p>
      </ion-col>
      <ion-col class="center-text border-right " (click)="openCreateNoticeModal()">
        <img class="tile-option margin-bottom-10 " src="/assets/icon/create-notice.png">
        <p class="font-14 gotham margin-bottom-20">Create notice</p>
      </ion-col>
      <ion-col class="center-text" (click)="navigate('/calendar')">
        <img class="tile-option margin-bottom-10 " src="/assets/icon/calendar.png">
        <p class="font-14 gotham margin-bottom-20">Calendar</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center-text border-top-bottom-1 " (click)="navigate('/tickets')">
        <img class="tile-option margin-bottom-10 " src="/assets/icon/ticket-history.png">
        <p class="font-14 gotham margin-bottom-20">Tickets</p>
      </ion-col>
      <ion-col class="center-text border-1" (click)="navigate('/notice-board')">
        <img class="tile-option margin-bottom-10 " src="/assets/icon/communications.png">
        <p class="font-14 gotham margin-bottom-20">Notices</p>
      </ion-col>
      <ion-col class="center-text border-top-bottom-1" (click)="navigate('/user-approval')">
        <img class="tile-option margin-bottom-10 " src="/assets/icon/approval.png">
        <p class="font-14 gotham margin-bottom-20">Approvals</p>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col class="center-text border-right">
        <img class="tile-option margin-bottom-10 " src="/assets/icon/image.png">
        <p class="font-14 gotham">other</p>
      </ion-col>
      <ion-col class="center-text border-right">
        <img class="tile-option  margin-bottom-10 " src="/assets/icon/image.png">
        <p class="font-14 gotham">other</p>
      </ion-col>
      <ion-col class="center-text">
        <img class="tile-option margin-bottom-10 " src="/assets/icon/image.png">
        <p class="font-14 gotham">other</p>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <br>
  <span class="font-18 gotham" style="margin-top:5px; padding-left:15px">Tasks for today</span>
  <br>
  <br>

  <ion-list class="border-top">
    <ion-item *ngFor="let ticket of ticketStats?.todo" [routerLink]="['/ticket-details']"
      [queryParams]="{ticketId: ticket._id}" detail="true" lines="none">
      <ion-label class="margin-0">
        <p class="gotham-bold txt-grey" text-wrap>#{{ticket.uid}} - {{ticket.ticketCategory}} -
          {{ticket.createdAt | date:'dd MMM yyyy'|agoFilter}}</p>
        <p class="gotham font-weight-600 txt-grey">Status -
          {{ticket.status == 'in-progress' ? 'In Progress' : ticket.status}}</p>
        <!-- <p class="gotham font-weight-600 txt-grey">{{d.address}}</p> -->
        <p class="gotham font-weight-600 txt-grey">For -
          {{ticket.ticketBelongsTo == 'Home' ? 'Unit' : ticket.ticketBelongsTo}}</p>
        <p class="gotham font-weight-600 txt-grey">Job date - {{ticket.jobDate | date:'dd MMM yyyy'}}
          {{ticket.jobStartTime | date:'hh:mm a'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <span class="font-14 gotham" *ngIf="ticketStats?.todo.length == 0" style="margin-top:5px; padding-left:15px">
    No tasks found
  </span>

</ion-content>