<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="">
    <!-- input -->
    <div *ngIf="flow == 'createTicket'">
      <ion-row>
        <ion-col>
          <p class="gotham font-16 margin-left-10 margin-bottom-0">Raise Ticket For {{ticketData.raisedFor}}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="padding-left-10">
          <ion-chip [ngClass]="ticketData.ticketBelongsTo == 'Home' ? 'Home' : 'a'" outline="true" color="primary"
            (click)="selectTicketBelongsTo('Home')">
            <ion-label class="font-16 font-weight-500">Unit</ion-label>
          </ion-chip>

          <ion-chip [ngClass]="ticketData.ticketBelongsTo == 'Project' ? 'Project' : 'b'" outline="true" color="primary"
            (click)="selectTicketBelongsTo('Project')">
            <ion-label class="font-16 font-weight-500">Common area</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </div>

    <!-- imput -->
    <div *ngIf="flow == 'createTicket'">
      <ion-row>
        <ion-col>
          <p class="font-weight-500 font-16 gotham margin-left-10 margin-bottom-5 ">Select Priority</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="padding-left-10">
          <ion-chip [ngClass]="ticketData.priority == 'low' ? 'low' : 'a'" outline="true" color="primary"
            (click)="selectPriority('low')">
            <ion-label class="font-16 font-weight-500">Low</ion-label>
          </ion-chip>

          <ion-chip [ngClass]="ticketData.priority == 'high' ? 'high' : 'b'" outline="true" color="primary"
            (click)="selectPriority('high')">
            <ion-label class="font-16 font-weight-500">High</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </div>

    <ion-list *ngIf="flow == 'createTicket'">
      <ion-list-header class="gotham font-16 font-weight-500">Click here to select
        {{ticketData.ticketBelongsTo == 'Home' ? 'an unit' : 'a project'}}</ion-list-header>
      <ion-item>
        <ion-input inputmode="text" [(ngModel)]="ticketData.ticketBelongsToName" class="gotham  margin-left-10"
          placeholder="Click here to select {{ticketData.ticketBelongsTo == 'Home' ? 'an unit' : 'a project'}}"
          (click)="openModal(ticketData.ticketBelongsTo)">
        </ion-input>
        <ion-icon class="float-right" name="arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header class="gotham font-16 font-weight-500">Select category</ion-list-header>
      <ion-item>
        <ion-input inputmode="text" [(ngModel)]="ticketData.ticketCategoryName" class="gotham  margin-left-10"
          placeholder="Clicke here to select poc" (click)="openModal('ticketCategory')">
        </ion-input>
        <ion-icon class="float-right" name="arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header class="gotham font-16 font-weight-500">Select sub category</ion-list-header>
      <ion-item>
        <ion-input inputmode="text" [(ngModel)]="ticketData.ticketSubCategoryName" class="gotham  margin-left-10"
          placeholder="Clicke here to select poc" (click)="openModal('ticketSubCategory')">
        </ion-input>
        <ion-icon class="float-right" name="arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-list>

  </div>

  <div class="webkit-center">

    <ion-list *ngIf="flow == 'createTicket'">

      <p class="gotham font-16 margin-bottom-0 margin-left-15 float-left">Ticket Description</p>
      <ion-item>
        <ion-textarea active placeholder="Drop your notes here" rows="3" [(ngModel)]="ticketData.notes">
        </ion-textarea>
      </ion-item>

    </ion-list>

    <ion-list>
      <ion-list-header class="gotham font-16 font-weight-500">Point of contact</ion-list-header>
      <ion-item>
        <ion-input inputmode="text" [(ngModel)]="ticketData.contactPointName" class="gotham  margin-left-10"
          placeholder="Click here to select poc" (click)="openModal('poc')">
        </ion-input>
        <ion-icon class="float-right" name="arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header class="gotham font-16 font-weight-500">Technical staff</ion-list-header>
      <ion-item>
        <ion-input inputmode="text" [(ngModel)]="ticketData.agentName" class="gotham  margin-left-10"
          placeholder="Clicke here to select a technician" (click)="openModal('agent')">

        </ion-input>
        <ion-icon class="float-right" name="arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header class="gotham font-16 font-weight-500">Job start date</ion-list-header>
          <ion-item>
            <ion-datetime placeholder="DD-MMM-YYYY" class="gotham padding-left-0" display-format="DD-MMM-YYYY"
              picker-format="DD-MMM-YYYY" [(ngModel)]="ticketData.jobDate"></ion-datetime>
            <ion-icon class="float-right" name="arrow-dropdown"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-list-header class="gotham font-16 font-weight-500">Job start time</ion-list-header>
          <ion-item>
            <ion-datetime placeholder="hh:mm A" class="gotham padding-left-0" display-format="hh:mm A"
              picker-format="hh:mm A" [(ngModel)]="ticketData.jobStartTime"></ion-datetime>
            <ion-icon class="float-right" name="arrow-dropdown"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header class="gotham font-16 font-weight-500">Job end date</ion-list-header>
          <ion-item>
            <ion-datetime placeholder="DD-MMM-YYYY" class="gotham padding-left-0" display-format="DD-MMM-YYYY"
              picker-format="DD-MMM-YYYY" [(ngModel)]="ticketData.jobEndDate"></ion-datetime>
            <ion-icon class="float-right" name="arrow-dropdown"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-list-header class="gotham font-16 font-weight-500">Job end time</ion-list-header>
          <ion-item>
            <ion-datetime placeholder="hh:mm A" class="gotham padding-left-0" display-format="hh:mm A"
              picker-format="hh:mm A" [(ngModel)]="ticketData.jobEndTime"></ion-datetime>
            <ion-icon class="float-right" name="arrow-dropdown"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="width-80-percent justify-center margin-10 margin-bottom-20">
      <ion-col class="padding-0">
        <ion-item lines="none" class="ion-item">
          <ion-card class="full-width margin-1" (click)="fileSourceOption()">
            <ion-item lines="none" class="ion-item">
              <ion-icon slot="start" class="margin-right-5 margin-left-10 icon-20 gotham" name="camera"></ion-icon>
              <ion-label>Click me to take a pitcure</ion-label>
            </ion-item>
          </ion-card>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="width-80-percent margin-10 justify-center margin-10 margin-bottom-20">
      <div *ngIf="images.length > 0">
        <ion-item *ngFor="let url of images" lines='none' class="ion-image-item">
          <ion-thumbnail class="margin-0 icon-90 image">
            <ion-icon class="img-icon" (click)="removeImage()" color="danger" name="close-circle">
            </ion-icon>
            <ion-img src="{{url}}"></ion-img>
          </ion-thumbnail>
        </ion-item>
      </div>
    </ion-row>
  </div>

</ion-content>
<ion-button [disabled]="!ticketData.ticketBelongsToRefId || !ticketData.ticketCategory || !ticketData.notes"
  *ngIf="flow == 'createTicket'" size="large" (click)="raiseTicket()" color="success">Submit</ion-button>
<ion-button [disabled]="!ticketData.ticketBelongsToRefId || !ticketData.ticketCategory || !ticketData.notes"
  *ngIf="flow == 'editTicket'" size="large" (click)="updateTicket()" color="success">Submit</ion-button>